.card {
    background-color: #DCDCDC;
    height: 100%;
    margin: 30px 0px 30px 0px;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}